@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #c0bfbd transparent;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #c0bfbd;
  border-radius: 99px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a0a09e;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #FBF8F2;
  color: #241B20;
  margin: 0;
  position: relative;
}

input,
select,
option,
textarea {
  font-family: "Outfit", sans-serif;
}

.font-cg {
  font-family: "Cormorant Garamond", serif;
}

.wrapper {
  width: 100%;
  max-width: 1120px;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.bg-primary {
  background-color: #882221;
}

.hover-bg-primary {
  background-color: #6E1B1A;
}

.text-primary {
  color: #882221;
}

.hover-text-primary {
  color: #6E1B1A;
}

.section-bg {
  background: #F5F0E6;
}

.section {
  padding-block: 4.5rem;
}

@media (min-width:768px) {
  .section {
    padding-block: 6rem;
  }
}